<nav class="navbar navbar-expand-sm bg-danger navbar-dark">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Home Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">About Praveen </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/todolist">TodoList</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/prodNest">NestExample</a>
            </li>
          </ul>
    </div>    
</nav>
